@page
@model IndexModel
@{
    ViewData["Title"] = "Academia musical";
}

<div class="text-center">
    <h1>BIENVENIDOS</h1>
    <h1 class="display-4">🎼 Academia musical La - MÁS 🎶</h1>
    <p>Click aquí para ver los <a href="https://localhost:7206/Movies">Cursos</a>.</p>
</div>
