@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politicas de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>A continuación, le facilitamos la política de privacidad (en adelante, “política de privacidad” o “política”) que rige la plataforma web http://www.escuelasuperiordemusicareinasofia.es (en adelante, “la Plataforma”), bajo la titularidad de la Fundación Albéniz (en lo sucesivo, “Fundación Albéniz” o “nosotros”), entidad con NIF G-39067806, domicilio en Plaza de Oriente, s/n, C.P. 28016 de Madrid, e inscrita en el Registro único de Fundaciones de competencia estatal, figurando inscrita con el nº 104CUL.</p>
<br>
<p>POR FAVOR, LE ROGAMOS DEDIQUE UNOS MINUTOS A LEER NUESTRA POLÍTICA DE PRIVACIDAD. CON ELLA QUEREMOS EXPLICARLE DE FORMA SENCILLA, CLARA Y TRANSPARENTE CÓMO TRATAMOS Y PROTEGEMOS SU INFORMACIÓN PERSONAL Y SUS DERECHOS. SU SEGURIDAD Y LA DE SUS DATOS PERSONALES ES FUNDAMENTAL PARA LA NOSOTROS Y NOS TOMAMOS MUY EN SERIO SU ADECUADA PROTECCIÓN.</p>
